[nzbfs]
db_root = /home/username/nzbdb
process_nzb_script = nzbfs-process-nzb
post_process_script = /home/username/postprocess

[/]
server = example.com
username = username
password = password
ssl = false
port = 119
threads = 4
